<ion-header>
  <ion-navbar>
    <ion-title>{{exercise.title.rendered}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div [innerHtml]=exercise.content.rendered></div>
  
  <accordion *ngIf="exercise.acf.theory" headline="Theorie" collapsed="!collapsed">
    <div *ngIf="exercise.acf.theory" [innerHtml]="exercise.acf.theory"></div>
    <iframe *ngIf="hasInternetConnectivity && videoSrc" [src]="videoSrc" frameborder="0" allowfullscreen="true"></iframe>
    <ion-card *ngIf="!hasInternetConnectivity">
        <ion-card-content>
            <ion-icon name="alert"></ion-icon> No Internet connection. Please check your connection to see an addtional video.
        </ion-card-content>
      </ion-card>
  </accordion>
</ion-content>