page-exercises {
  .list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
  }
  .list .item.item-accordion.custom-fadeout {
    line-height: 0px;
    min-height: 0px;
    opacity: 0;
    display: block;
  }

  .list .item.item-accordion.custom-fadeout .item-inner {
    border:0;
  }
}
