page-exercises {
  .list {
    .item {
      padding-left: 0px;

      .item-inner {
        padding-left: 16px;

        .categoryColor {
          height: 15px;
          width: 15px;
          border-radius: 50%;
        }
      }

      &.item-accordion {
        line-height: 38px;
        padding-top: 0;
        padding-bottom: 0;
        transition: 0.09s all linear;

        &.custom-fadeout {
          line-height: 0px;
          min-height: 0px;
          opacity: 0;

          .item-inner {
            border:0;
          }
        }
      }
    }
  }
}
