<ion-header>

  <ion-navbar>
    <ion-title>{{exercise.title.rendered}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div [innerHtml]=exercise.content.rendered></div>
  <hr>
  <div *ngIf="exercise.acf.theory" [innerHtml]="exercise.acf.theory"></div>

  
  <accordion *ngIf="exercise.acf.theory" headline="asdfasdf" collapsed="!collapsed">
    {{exercise.acf.theory}}

    <iframe *ngIf="videoSrc" [src]="videoSrc" frameborder="0" allowfullscreen="true"></iframe>
  </accordion>
  <hr>
  <ion-grid>
    <ion-row>
      <ion-col col-7>
        <ion-range min="0" max="10" step="1" snaps="true" [(ngModel)]="value"></ion-range>
      </ion-col>
      <ion-col col-5>
        <button ion-button block clear>{{value == null ? "0" : value}} : bewerten</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
